<main>
  <p *ngIf="!episodes">Nenhum Episodio para esse autor</p>
  <article *ngFor="let episode of episodes" class="listEpisode">
    <a href="/episodes/{{ episode.id }}">
      <article class="episode">
        <img class="imgStyle" [src]="episode.cover" alt="Image of episode" />
        <section class="infoEpisode">
          <section class="titleEpisode">
            Episódio {{ episode.episodeNumber }} - {{ episode.name }}
          </section>
          <section class="time">{{ episode.duration | timeFormat }}</section>
        </section>
      </article>
    </a>
  </article>
</main>
